.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 20px;
}

.lds-ellipsis div {
  position: absolute;
  top: 7px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #fff;
  -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
          animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  -webkit-animation: lds-ellipsis1 0.6s infinite;
          animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  -webkit-animation: lds-ellipsis3 0.6s infinite;
          animation: lds-ellipsis3 0.6s infinite;
}

@-webkit-keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0);
  }
}

body {
  margin: 0;
  height: 80vh;
  font-family: 'Poppins';
  color: #2F2E41;
}

.container {
  margin-top: 6em;
  text-align: center;
}

.container input[type=file] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.container .image-button {
  display: inline-block;
  padding: 10px 25px;
  background: #6C63FF;
  color: white;
  font-size: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

.container .image-button:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  background: #4d4d8d;
}

.container .image-button:active {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.container .image-button label {
  margin: 0;
  font-weight: 600;
  padding: 0;
  margin-top: -10px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.container .image-button .upload-icon {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 30px;
  margin-right: 10px;
}

.container .upload-value {
  margin: 10px;
  opacity: 0;
}

.container .rules {
  margin-top: 10px;
}

.container .rules p {
  margin: 0px;
}

.container .rules .max {
  font-size: 16px;
  font-weight: 500;
}

.container .rules .format {
  font-size: 12px;
}

.alert {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 10px 20px;
  background: #E6F1E9;
  color: #25773A;
  border-radius: 10px;
  opacity: 0;
  display: none;
}

.alert span {
  font-weight: bold;
  color: #207C3A;
}

.alert.show {
  width: 400px;
  margin: 2em auto;
  display: block;
  opacity: 1;
}

img {
  margin-top: 3em;
}
/*# sourceMappingURL=main.css.map */